<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New tree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>Arbortary</h1>
            <a href="/user/account">My trees</a>
            <h2> Welcome, {{ session["username"] }}</h2>
        </div>
        <nav>
            <h2>A site to track randomly planted tree</h2>
            <div>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">logout</a>
            </div>
        </nav>
        <main>
            <h1>Re-plant Your Tree!</h1>
            <p></p>
            <form action="/edit_tree/{{ tree.id }}" method="POST">
                {% with messages = get_flashed_messages(category_filter=["form"]) %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="flash-message">{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-content">
                    <div class="inputs">
                        <label for="species">Species:</label>
                        <input class="small" name="species" value="{{ tree.species }}">
                    </div>
                    <div class="inputs">
                        <label for="loctaion">Location:</label>
                        <input name="location" type="text" value="{{ tree.location }}">
                    </div>
                    <div class="inputs">
                        <label for="reason">Reason:</label>
                        <textarea name="reason" type="text"> {{ tree.reason }}</textarea>
                    </div>
                    <div class="inputs">
                        <label for="date_planted">Date Planted:</label>
                        <input name="date_planted" type="date" value="{{ tree.date_planted }}">
                    </div>
                </div>
                <button>Update</button>
            </form>
        </main>
    </div>
</body>
</html>